<label class="inline-block mb-2">{{ label }}</label>
<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="'Enter' + label"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.['required']" class="text-red-400">
    Field is required
  </p>
  <p *ngIf="control.errors?.['minlength']" class="text-red-400">
    your name is
    {{control.errors?.['minlength']['requiredLength']}}
    but you have entered only
    {{control.errors?.['minlength']['actualLength']}}
    characters long
  </p>
  <p *ngIf="control.errors?.['email']" class="text-red-400">
    Please enter a valid email
  </p>
  <p *ngIf="control.errors?.['min']" class="text-red-400">
    Age should be greater than {{control.errors?.['min']['min'] | json}}
  </p>
  <p *ngIf="control.errors?.['max']" class="text-red-400">
    Age should be less than {{control.errors?.['max']['max']}}
  </p>

  <p *ngIf="control.errors?.['pattern']" class="text-red-400">
    password should contain atleast one uppercase, one lowercase, one number and
    one special character
  </p>
</ng-container>
